<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>101.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>102.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,86},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>103.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,170},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>104.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,254},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,338},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>111.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,422},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>112.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,2},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>113.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,86},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>114.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,170},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>12.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,254},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>121.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,338},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>122.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,422},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>123.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,2},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>124.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,86},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>13.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,170},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>131.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,254},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>132.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,338},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>133.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,422},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>134.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,2},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>14.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,86},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>21.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,170},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>22.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,254},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>23.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,338},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>24.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,422},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>31.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,2},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>32.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,86},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>33.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,170},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>34.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,254},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>41.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,338},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>42.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,422},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>43.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,2},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>44.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,86},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>51.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,170},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>52.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,254},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>53.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,338},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>54.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,422},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>61.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,2},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>62.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,86},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>63.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,170},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>64.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,254},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>71.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,338},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>72.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,422},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>73.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,2},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>74.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,86},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>81.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,170},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>82.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,254},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>83.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,338},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>84.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,422},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>91.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,2},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>92.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,86},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>93.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,170},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>94.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,254},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>card_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,338},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
			<key>card_ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,422},{60,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,80}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>cards1.png</string>
			<key>realTextureFileName</key>
			<string>cards1.png</string>
			<key>size</key>
			<string>{576,504}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>576</integer>
			<key>height</key>
			<integer>504</integer>
		</dict>
	</dict>
</plist>