<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>101.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>102.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,128},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>103.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,254},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>104.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,380},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,506},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>111.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,632},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>112.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,758},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>113.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,884},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>114.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,2},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>12.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,128},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>121.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,254},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>122.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,380},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>123.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,506},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>124.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,632},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>13.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,758},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>131.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,884},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>132.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,2},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>133.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,128},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>134.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,254},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>14.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,380},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>21.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,506},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>22.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,632},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>23.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,758},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>24.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,884},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>31.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,2},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>32.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,128},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>33.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,254},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>34.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,380},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>41.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,506},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>42.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,632},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>43.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,758},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>44.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,884},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>51.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,2},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>52.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,128},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>53.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,254},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>54.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,380},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>61.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,506},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>62.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,632},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>63.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,758},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>64.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,884},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>71.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,2},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>72.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,128},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>73.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,254},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>74.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,380},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>81.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,506},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>82.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,632},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>83.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,758},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>84.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,884},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>91.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,2},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>92.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,128},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>93.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,254},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>94.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,380},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>card_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,506},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
			<key>card_ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,632},{90,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,122}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>cards2.png</string>
			<key>realTextureFileName</key>
			<string>cards2.png</string>
			<key>size</key>
			<string>{658,1008}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>658</integer>
			<key>height</key>
			<integer>1008</integer>
		</dict>
	</dict>
</plist>