<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,254},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>clear1.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,264},{52,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{52,42}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>clear2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,254},{78,64}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,28},{78,64}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>failed.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,264},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{284,168}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,64},{284,168}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{350,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,6}}</string>
                <key>sourceSize</key>
                <string>{350,6}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{102,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{102,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{98,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{98,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pokerb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{60,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,78}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>pokerb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,132},{90,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>pokerb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,264},{60,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,78}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>pokerb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,132},{90,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>success.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,264},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{316,82}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{316,82}}</string>
                <key>sourceSize</key>
                <string>{350,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>imgs.png</string>
            <key>size</key>
            <string>{504,326}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fc9e825f619b26757e99530b8a32c8e:0938dc871d67623d07047b76475681d0:4762cb4d2352d4e1cde0ed1bbaf62a9f$</string>
            <key>textureFileName</key>
            <string>imgs.png</string>
        </dict>
    </dict>
</plist>
